<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scut.template.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="cn.scut.template.entity.Student">
    <!--@mbg.generated-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.scut.template.entity.Student" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into student ([name], birthday, age
      )
    values (#{name,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{age,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.scut.template.entity.Student" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        [name],
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="age != null">
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    <sql id="Base_Column_List">
	id,
	[name],
	birthday,
	age
</sql>

<!--auto generated by MybatisCodeHelper on 2019-05-11-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from student
        where id=#{id,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-05-11-->
    <select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from student
    </select>
</mapper>